@model WebTrackr.Models.IndexViewModel
@{
    ViewBag.Title = "Manage My Account";
    Layout = "~/Views/Shared/_Layout_MVC.cshtml";
}
@*@section headerJumbotron
{
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.JumbotronTitle</h1>
            <p class="lead">@ViewBag.JumbotronSubtitle</p>
            <p><a href="@Url.Action("Index", "LandingPage")" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div>
}*@

@section pageBreadcrumbSection
{
    <div class="container animate-panel">
        <div class="row">
            <div class="col-md-6 m-t-lg m-b-lg">
                <h5 class="font-bold text-uppercase text-success">@ViewBag.Title</h5>
                <p>Add Content Here.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">
                            <span>My Account</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="content animate-panel">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <div class="hpanel hgreen">
                        <div class="panel-body">
                            <div class="text-center">
                                <h2 class="text-success">@ViewBag.Title</h2>
                                <h4>@ViewBag.Message</h4>
                                <p class="text-success">@ViewBag.StatusMessage</p>
                                <div class="m">
                                    <i class="pe-7s-user fa-5x text-success"></i>
                                </div>
                                <hr />
                            </div>
                            <section>
                                <div>
                                    <h4>Change your account settings</h4>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>Password:</dt>
                                        <dd>
                                            [
                                            @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))
                                            ]
                                        </dd>
                                        @*<dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>*@
                                        @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
                                        *@
                                        @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None") [
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                    ]
                </dd>
                                        *@
                                        @*<dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }
                        @if (Model.BrowserRemembered)
                        {
                            <form method="post" action="/Manage/ForgetBrowser">
                                <p>
                                    Browser is curently remembered for two factor:
                                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                                </p>
                            </form>
                        }
                        else
                        {
                            <form method="post" action="/Manage/RememberBrowser">
                                <p>
                                    Browser is curently not remembered for two factor:
                                    <input type="submit" value="Remember Browser" class="btn btn-default" />
                                </p>
                            </form>
                        }
                </dd>*@

                                    </dl>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

