@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using WebTrackr.Areas.HelpPage
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}


    <div class="content animate-panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h2>
                    @if (!String.IsNullOrEmpty(controllerDocumentation))
                    {
                        <p>@controllerDocumentation</p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr><th>API</th><th>Description</th></tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var api in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <span class="text-success font-bold">
                                                        <a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a>
                                                    </span>
                                                </td>
                                                <td class="api-documentation">
                                                    @if (api.Documentation != null)
                                                    {
                                                        <p>@api.Documentation</p>
                                                    }
                                                    else
                                                    {
                                                        <p>No documentation available.</p>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
