@{
    Layout = "~/Views/Shared/_Layout_MVC.cshtml";
    ViewBag.Title = "About";
}

@section headerJumbotron
{
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.JumbotronTitle</h1>
            <p class="lead">@ViewBag.JumbotronSubtitle</p>
            <p><a href="@Url.Action("Index", "LandingPage")" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div>
}

@section pageBreadcrumbSection
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-t-lg m-b-lg">
                <h5 class="font-bold text-uppercase text-success">@ViewBag.Title</h5>
                <p>Add Content Here.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">
                            <span>About</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div >
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <div class="hpanel hgreen animate-panel" data-child="panel-body" data-effect="zoomInLeft">
                        @*<div class="hpanel hgreen fadeInLeft-300-1-0 ease-out">*@
                        <div class="panel-body">
                            <div class="content text-center">
                                <h2 class="text-success animated infinite bounce">@ViewBag.Title</h2>
                                <h4>@ViewBag.Message</h4>
                                <div class="m">
                                    <i class="pe-7s-user fa-5x text-success"></i>
                                </div>
                                <hr />
                            </div>
                            <section>
                                <p>Use this area to provide additional information.</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@









