@model Sandbox4.Models.EditUserViewModel

@{
    Layout = "~/Views/Shared/_Layout_MVC.cshtml";
    ViewBag.Title = "Edit";
}
@*@section headerJumbotron
    {
        <div class="jumbotron">
            <div class="container">
                <h1>ASP.NET Identity</h1>
                <p class="lead">ASP.NET Identity is the membership system for ASP.NET apps. Following are the features of ASP.NET Identity in this sample application.</p>
                <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
        </div>
    }*@

@section pageBreadcrumbSection
{
    <div class="container animate-panel">
        <div class="row">
            <div class="col-md-6 m-t-lg m-b-lg">
                <h5 class="font-bold text-uppercase text-success">@ViewBag.Title</h5>
                <p>Create a new account for access today.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
                        <li>
                            <span>Users Admin</span>
                        </li>
                        <li class="active">
                            <span>Edit</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}

<section>
    <div class="content animate-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    @using (Html.BeginForm("Edit", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })


                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h2 class="text-primary">User ID:</h2>
                                    <h4 class="text-muted">@Html.ValueFor(model => model.Id)</h4>
                                    <hr />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Roles", new { @class = "control-label col-md-2" })
                                    <span class=" col-md-10">
                                        @foreach (var item in Model.RolesList)
                                        {
                                            <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                                            @Html.Label(item.Value, new { @class = "control-label" })
                                        }
                                    </span>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="pull-right m-l-md">
                                            <input type="submit" class="btn btn-primary" value="Submit" />
                                        </div>
                                        <div class="pull-right btn btn-default">
                                            @Html.ActionLink("Back to List", "Index")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


